<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  <div class="mx-auto">
    <a class="navbar-brand" href="#">FREE UK Postcode API</a>
  </div>
  <div class="navbar-collapse collapse dual-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item navbar-right">
        <a class="nav-link" href="https://github.com/AndMu/Wikiled.Postal.Web">
          <img class="logo" src="/assets/images/GitHub-Mark-32px.png" />
          <img class="logo-text" src="/assets/images/GitHub_Logo.png" />
        </a>
      </li>
    </ul>
  </div>
</nav>
