<app-navbar></app-navbar>
<div class="jumbotron">
  <div class="container">
    <h1>UK Postal Code and Address information</h1>
    <p class="lead">And free API</p>
  </div>
</div>
<div class="container">
  <div class="starter-template">
    <h1></h1>

    <div class="survey-block">
      <div class="card-block">
        <p>
          <b>Address information</b>
        </p>
        <label [for]="autocomplete">http://api.topostcode.co.uk/address/</label>

        <kendo-autocomplete #autocomplete
                            required
                            [data]="data"
                            [suggest]="true"
                            [filterable]="true"
                            (open)="onOpenPost($event)"
                            (valueChange)="onValueChangePost($event)"
                            (filterChange)="onFilterChangePost($event)"
                            [valueField]="'postalCode'">
        </kendo-autocomplete>
        <ul>
          <li *ngFor="let obj of addressData">{{obj | json}}</li>
        </ul>        
      </div>
    </div>
  </div>
</div>

