<app-navbar></app-navbar>
<div class="jumbotron">
  <div class="container">
    <h1>FREE UK Postcode & Address API<span class="k-icon k-i-email k-icon-48"></span> </h1>
    <p class="lead">JSON API for Developers to query UK postcodes and addresses</p>
	<p class="lead">The most up-to-date from Royal Mail's Postcode Address File</p>
  </div>
</div>
<div class="container">
  <div class="starter-template">
    <kendo-tabstrip>
      <kendo-tabstrip-tab [title]="'Address'" [selected]="true">
        <ng-template kendoTabContent>
          <div class="content">
            <app-address></app-address>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab [title]="'Location'">
        <ng-template kendoTabContent>
          <div class="content">
            <app-location></app-location>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
    </kendo-tabstrip>
  </div>
</div>


