<form class="form-horizontal">
  <div class="form-group">
    <kendo-textbox-container floatingLabel="Your Name">
      <input kendoTextBox />
    </kendo-textbox-container>
  </div>
  <div class="form-group">
    <kendo-textbox-container floatingLabel="Your Email">
      <input kendoTextBox />
    </kendo-textbox-container>
  </div>
  <div class="form-group">
    <kendo-textbox-container floatingLabel="Subject">
      <input kendoTextBox />
    </kendo-textbox-container>
  </div>
  <div class="form-group">
    <textarea class="form-control" rows="3"></textarea>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Send</button>
    </div>
  </div>
</form>