@import "~bootstrap/dist/css/bootstrap.css";
@import "~@progress/kendo-theme-bootstrap/scss/all";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


body {
  padding-top: 40px;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
